/*! CSS Used from: https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.css ; media=all */
@media all{
    .slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent;}
    .slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0;}
    .slick-list:focus{outline:0;}
    .slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
    .slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto;}
    .slick-track:after,.slick-track:before{display:table;content:'';}
    .slick-track:after{clear:both;}
    .slick-slide{display:none;float:left;height:100%;min-height:1px;}
    .slick-slide img{display:block;}
    .slick-initialized .slick-slide{display:block;}
    }
    /*! CSS Used from: https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.min.css ; media=all */
    @media all{
    .slick-next,.slick-prev{font-size:0;line-height:0;position:absolute;top:50%;display:block;width:20px;height:20px;padding:0;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);cursor:pointer;color:transparent;border:none;outline:0;background:0 0;}
    .slick-next:focus,.slick-next:hover,.slick-prev:focus,.slick-prev:hover{color:transparent;outline:0;background:0 0;}
    .slick-next:focus:before,.slick-next:hover:before,.slick-prev:focus:before,.slick-prev:hover:before{opacity:1;}
    .slick-prev.slick-disabled:before{opacity:.25;}
    .slick-next:before,.slick-prev:before{font-family:slick;font-size:20px;line-height:1;opacity:.75;color:#fff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
    .slick-prev{left:-25px;}
    .slick-prev:before{content:'←';}
    .slick-next{right:-25px;}
    .slick-next:before{content:'→';}
    .slick-dotted.slick-slider{margin-bottom:30px;}
    .slick-dots{position:absolute;bottom:-25px;display:block;width:100%;padding:0;margin:0;list-style:none;text-align:center;}
    .slick-dots li{position:relative;display:inline-block;width:20px;height:20px;margin:0 5px;padding:0;cursor:pointer;}
    .slick-dots li button{font-size:0;line-height:0;display:block;width:20px;height:20px;padding:5px;cursor:pointer;color:transparent;border:0;outline:0;background:0 0;}
    .slick-dots li button:focus,.slick-dots li button:hover{outline:0;}
    .slick-dots li button:focus:before,.slick-dots li button:hover:before{opacity:1;}
    .slick-dots li button:before{font-family:slick;font-size:6px;line-height:20px;position:absolute;top:0;left:0;width:20px;height:20px;content:'•';text-align:center;opacity:.25;color:#000;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
    .slick-dots li.slick-active button:before{opacity:.75;color:#000;}
    }
    /*! CSS Used from: https://75j273hj6dqdw6rdcunce2l5-wpengine.netdna-ssl.com/wp-content/uploads/fvm/out/header-be77147d-1543601281.min.css ; media=all */
    @media all{
    *,*::before,*::after{box-sizing:inherit;}
    .container{width:100%!important;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
    @media (min-width:550px){
    .container{max-width:768px!important;}
    }
    @media (min-width:1200px){
    .container{max-width:1650px!important;}
    }
    @media (min-width:1950px){
    .container{max-width:1900px!important;}
    }
    @media (min-width:2700px){
    .container{max-width:2200px!important;}
    }
    .row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
    .col-sm-5,.col-sm-10,.col-md-5,.col-md-10{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px;}
    @media (min-width:550px){
    .col-sm-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%;}
    .col-sm-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%;}
    }
    @media (min-width:1200px){
    .col-md-5{-webkit-box-flex:0;-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%;}
    .col-md-10{-webkit-box-flex:0;-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%;}
    }
    .justify-content-center{-webkit-box-pack:center!important;-ms-flex-pack:center!important;justify-content:center!important;}
    .align-items-end{-webkit-box-align:end!important;-ms-flex-align:end!important;align-items:flex-end!important;}
    .header{display:flex;align-items:center;justify-content:space-between;color:white;transition:background 0.5s ease;background-color:transparent;font-weight:700;margin:0 0 40px 0;padding:0 10px;height:58px;}
    .header.is-sticky{position:fixed;backface-visibility:hidden;top:0;right:0;left:0;z-index:9998; background: #22282c;}
    .header.is-sticky .menu{top:0;right:0;}
    @media only screen and (min-width:551px){
    .header{margin:0;padding:0 28px 0 36px;}
    }
    @media only screen and (min-width:1201px){
    .header{margin:0;padding:0 37px 0 40px;height:66px;}
    }
    @media only screen and (min-width:1951px){
    .header{margin:0;padding:0 50px 0 53px;height:78px;}
    }
    @media only screen and (min-width:2701px){
    .header{margin:0;padding:0 72px 0 105px;height:110px;}
    }
    .burger{height:50px;width:50px;position:absolute;z-index:2;cursor:pointer;top:0;right:0;}
    @media only screen and (min-width:1201px){
    .burger{display:none;}
    }
    .x,.y,.z{position:absolute;margin:auto;top:0;bottom:0;background:#fff;border-radius:2px;transition:all 200ms ease-out;height:3px;width:26px;}
    .y{top:15px;}
    .z{top:28px;}
    .menu{position:fixed;background:rgba(34,40,44,.95);border-radius:50%;width:0;height:0;top:24px;right:17px;}
    @media only screen and (min-width:1201px){
    .menu{position:relative;width:80%;height:50%;background:none;border-radius:0;transition:none;}
    }
    .menu .menu-logo{opacity:0;margin:25px 38px 0;}
    @media only screen and (min-width:1201px){
    .menu .menu-logo{display:none;}
    }
    .menu ul{margin-top:56px;font-family:'HelveticaNeueW01-75Bold';padding:0;}
    @media only screen and (min-width:1201px){
    .menu ul{margin-top:0;height:100%;display:flex;justify-content:flex-end;align-items:center;}
    }
    .menu ul .menu-item:not(.current_page_item){opacity:.5;}
    .menu ul li{list-style:none;opacity:0;transition:all 70ms cubic-bezier(0,.995,.99,1);position:relative;line-height:56px;padding:0 38px;font-size:35px;}
    @media only screen and (min-width:1201px){
    .menu ul li{opacity:1;display:inline-block;font-size:17px;line-height:30px;padding:0 20px;text-align:center;}
    }
    @media only screen and (min-width:2701px){
    .menu ul li{font-size:20px;}
    }
    .menu ul li.current_page_item:before{content:" ";width:9px;height:46px;position:absolute;left:0;top:5px;background:#FC9318;}
    @media only screen and (min-width:1201px){
    .menu ul li.current_page_item:before{left:0;right:0;margin-left:auto;margin-right:auto;width:75%;height:6px;top:auto;top:initial;bottom:-7px;background:#FC9318;}
    }
    @media only screen and (min-width:1201px){
    .menu ul li:before,.menu ul li:after{content:" ";left:0;right:0;margin-left:auto;margin-right:auto;width:0%;height:6px;top:initial;position:absolute;bottom:-7px;background:#FC9318;}
    .menu ul li:hover{opacity:1!important;}
    .menu ul li:hover:before{background:#FC9318;width:calc(75%);transition:width 0.3s;}
    .menu ul li:hover:after{background:transparent;width:calc(75%);transition:0s;}
    }
    .menu ul li a{color:#fff;text-transform:uppercase;text-decoration:none;}
    .logo,.menu-logo{display:inline-block;text-decoration:none;color:inherit;}
    .logo:hover,.menu-logo:hover{color:inherit;}
    .logo span,.menu-logo span{font-size:27px;font-family:'HelveticaNeueW01-75Bold';}
    @media only screen and (min-width:2701px){
    .logo span,.menu-logo span{font-size:40px;}
    }
    .secondary-button:hover{color:#BA005C;border-color:#BA005C;}
    :focus{outline:#A0A0A0 auto 5px;}
    a{color:#FC9318;text-decoration:none;font-family:"HelveticaNeueW01-75Bold"!important;}
    a:hover{color:#DD7C09;}
    .js-focus-visible :focus:not(.focus-visible){outline:none;}
    .blur-up{filter:blur(10px);transition:200ms all linear;}
    .body{font-family:'HelveticaNeueW01-55Roma',helvetica,sans-serif;-webkit-font-smoothing:antialiased;}
    .about-section{background:#22282c;padding-top:89px;margin-bottom:0px;color:#fff; padding-bottom: 45px;}
    @media only screen and (min-width:551px){
    .about-section{padding-top:94px;margin-bottom:0px; padding-bottom: 60px;}
    }
    @media only screen and (min-width:1201px){
    .about-section{padding-top:141px;margin-bottom:0px;}
    }
    @media only screen and (min-width:1951px){
    .about-section{padding-top:138px;margin-bottom:0px;}
    }
    @media only screen and (min-width:2701px){
    .about-section{padding-top:297px;margin-bottom:0px;}
    }
    .about-section h1{font-family:'HelveticaNeueW01-75Bold';font-size:36px;line-height:40px;padding-bottom:20px;}
    @media only screen and (min-width:1201px){
    .about-section h1{font-size:80px;line-height:100px;}
    }
    @media only screen and (min-width:1951px){
    .about-section h1{font-size:100px;line-height:110px;}
    }
    @media only screen and (min-width:2701px){
    .about-section h1{font-size:130px;line-height:140px;}
    }
    @media only screen and (min-width:551px){
    .about-section h1{width:auto;}
    }
    .about-section .col-sm-10{padding:0 20px;}
    .about-section .strong_word{color:#E60073;}
    .about-section p{font-size:15px;line-height:20px;font-family:'HelveticaNeueW01-45Ligh'; margin-bottom: 20px;}
    @media only screen and (min-width:1201px){
    .about-section p{font-size:27px;line-height:35px;}
    }
    @media only screen and (min-width:1951px){
    .about-section p{font-size:32px;line-height:42px;}
    }
    @media only screen and (min-width:2701px){
    .about-section p{font-size:40px;line-height:50px;}
    }
    .leaders-section .col-sm-10{padding:0 20px;}
    .leaders-section h2{font-family:'HelveticaNeueW01-75Bold';
        font-size:36px;
        line-height:40px;
        margin-top: 50px;
        margin-bottom:50px;}
    @media only screen and (min-width:1201px){
        .leaders-section h2{
            font-size:40px;
            line-height:50px;
            margin-top: 120px;
            margin-bottom: 60px;}
        }  

    .leaders-section__text{font-size:22px;line-height:30px;font-family:'HelveticaNeueW01-45Ligh';}
    @media only screen and (min-width:1201px){
    .leaders-section__text{font-size:27px;line-height:35px;margin-bottom: 100px;}
    }
    @media only screen and (min-width:1951px){
    .leaders-section__text{font-size:27px;line-height:42px;}
    }
    @media only screen and (min-width:2701px){
    .leaders-section__text{font-size:27px;line-height:50px;}
    }
    .capabilities .col-sm-10{padding:0 20px;}
    .capabilities h2{font-family:'HelveticaNeueW01-75Bold';font-size:36px;line-height:40px;margin-bottom:14px;}
    @media only screen and (min-width:1201px){
        .capabilities h2{margin-bottom: 60px;
        font-size:40px;line-height:50px;}
        }

    .capabilities__text{font-size:22px;line-height:30px;font-family:'HelveticaNeueW01-45Ligh';margin-bottom:25px;}
    @media only screen and (min-width:1201px){
    .capabilities__text{font-size:27px;line-height:35px;}
    }
    @media only screen and (min-width:1951px){
    .capabilities__text{font-size:32px;line-height:42px;}
    }
    @media only screen and (min-width:2701px){
    .capabilities__text{font-size:40px;line-height:50px;}
    }
    @media only screen and (min-width:551px){
    .capabilities__text{margin-bottom:28px;}
    }
    @media only screen and (min-width:1201px){
    .capabilities__text{margin-bottom:34px;}
    }
    @media only screen and (min-width:1951px){
    .capabilities__text{margin-bottom:41px;}
    }
    @media only screen and (min-width:2701px){
    .capabilities__text{margin-bottom:48px;}
    }

    /* New Styles for Optum Letter */

    a:visited{
        text-decoration: none;
    }

    /* for safari */
    .row:before, .row:after {display: none !important;}


    html {
        scroll-behavior: smooth;
    }

    .video-section{
        background: #ffffff;
        position: relative;
        overflow: hidden;
    }
    .video-section:before {
        content: '';
        background: #22282c;
        position: absolute;
        width: 100%;
        height: 150%;
        transform: skew(0deg, -12deg);
        top: -100%;
        left: 0;
    }

    @media only screen and (min-width:1201px){
        .video-section:before {
            
        }
     }

     .capabilities{
        background: #FFFFFF;
        position: relative;
        overflow: hidden;
        padding-bottom: 120px;
        margin-top: 60px;
     }
     @media only screen and (max-width:551px){
        .capabilities{
            margin-top: 0px;
            padding-bottom: 60px;
        }
     }

     .capabilities:before {
        content: '';
        background: #F2F2F2;
        position: absolute;
        width: 100%;
        height: 150%;
        transform: skew(0deg, -12deg);
        top: 24%;
        left: 0;
        }
    @media only screen and (min-width:1201px){
        .capabilities:before {
            top: 50%;            
        }
    } 
    @media only screen and (min-width:1340px){
        .capabilities:before {
             transform: skew(0deg, -10deg);
        }
    }

    .secondary-button:hover {
        text-decoration: none !important;
        border-color: #BA005C!important;
        background: #BA005C;
    }

    a.confirmation-button:hover {
        text-decoration: none !important;
        border-color: #BA005C!important;
        background: #BA005C;
        color: #ffffff;
    }

    .capabilities-width{
        max-width: 1650px;
        margin: auto;                
    }


    .about-section-separator{
        margin-top: -800px;
        border-left: 3000px solid transparent;
        border-right: 0 solid transparent;
        border-bottom: 800px solid #ffffff;
    }

    .capabilities__button{
        font-family:'HelveticaNeueW01-75Bold';
        font-size:15px;line-height:20px;
        color:#FFFFFF;
        background-color: #E60073;
        width:180px;
        display:block;
        text-align:center;
        border:2px solid #E60073;
        padding:13px;
        text-decoration:none;
        margin: 0;
    }
    .capabilities__button:hover{
        cursor: pointer;
        color: #FFFFFF
    }

    .grid-image-optum{
        min-height: 80px;
        display:flex;
        align-items:flex-end;
        height:83px;
        margin-bottom: 20px;
    }

    @media only screen and (max-width:551px){
        .grid-image-optum img{
            width: 55px;
        }
    }
    

    .optum-icon-row{
        margin-bottom: 0px;
    }


    @media only screen and (min-width:1201px){
        .optum-icon-row{
            margin-bottom: 0px;
        }
    }

    .optum-icon-row h3{
        font-family: 'HelveticaNeueW01-75Bold';
        color: #E60073;
        font-size: 27px;
        line-height: 33px;
        font-weight: bold;
        margin-bottom: 10px;
    } 
    .optum-icon-row p{
        color: #22282C;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 60px;
        font-family:'HelveticaNeueW01-45Ligh';
    } 

    @media only screen and (max-width:551px){
        .optum-icon-row p{
            margin-bottom: 40px;
        }
    }

    .client-card{
        text-align: left;
        margin: auto;
        background-color: #ffffff;
        -webkit-box-shadow: 0px 1px 7px 1px #666;
        -moz-box-shadow: 0px 1px 7px 1px #666;
        box-shadow: 0 10px 30px 0 rgba(0,0,0,0.1);
        padding: 15px;
    }
    @media only screen and (max-width:1201px){
        .client-card{
            margin-top: 20px;
        }
    } 
    .client-card h4{
        font-family: 'HelveticaNeueW01-75Bold';
        font-size: 20px;
        line-height: 28px;
        color: #22282C;
        font-weight: bold;
    }
    .client-card p{
        font-family: 'HelveticaNeueW01-45Ligh';
        font-size: 20px;
        line-height: 28px;
        color: #22282C;
        margin-top: 20px;
    }
    @media only screen and (max-width:551px){
        .client-card p{
            font-size: 15px;
            line-height: 20px;
        }
    }

    /* HelveticaNeueW01-55Roma */
    .optum-numbers{
        font-family: 'HelveticaNeueW01-75Bold';
        font-size: 80px;
        line-height: 100px;
        color: #FC9318;
        font-weight: bold;
    }
    @media only screen and (max-width:551px){
        .optum-numbers{
            font-size: 50px;
            line-height: 54px;
        }
    }
    .optum-numbers-content{
        font-family: 'HelveticaNeueW01-75Bold';
        font-size: 20px;
        line-height: 28px;
        color: #FC9318;
        font-weight: bold;
    }
    @media only screen and (max-width:551px){
        .optum-numbers-content{
            font-size: 15px;
            line-height: 20px;
        }
    }

    .periscope-contact-form{
        text-align: left;
        background: #22282C; 
    }

    .periscope-contact-form-landing{
        text-align: left;
        background-image: url("../assets/images/form-image-background.jpg");
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-position: center; 
    }

    .periscope-contact-form h2{
        font-family: 'HelveticaNeueW01-75Bold';
        font-size: 40px;
        line-height: 50px;
        color: #FFFFFF;
        font-weight: bold;
        margin-top: 60px; 
    }
    @media only screen and (max-width:551px){
        .periscope-contact-form h2{
            font-size: 22px;
            line-height: 30px;
        }
    }
    .periscope-contact-form-copy{
        font-family: 'HelveticaNeueW01-45Ligh';
        font-size: 27px;
        line-height: 35px;
        color: #FFFFFF;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    @media only screen and (max-width:551px){
        .periscop-contact-form-copy{
            font-size: 15px;
            line-height: 20px;
        }
    }
    .contact-admin-text{
        font-family: 'HelveticaNeueW01-75Bold';
        font-size: 15px;
        line-height: 25px;
        color: #FC9318;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .contact-admin-text:hover{
        text-decoration: none !important;
        color: #DD7C09;
       
    }
    .main-block{
        margin-top: 20px;
    }
    .form-label{
        font-family: 'HelveticaNeueW01-45Ligh';
        font-size: 13px;
        line-height: 16px;
        color: #FFFFFF;
        margin-bottom: 5px;
        display: block;
        margin-top: 10px;
    }
    .form-input{
        width: 100%;
        height: 45px;   
    }

    input[type="text"], input[type="email"], textarea{
        font-size:15px!important;
        line-height: 20px!important;
        font-family: 'HelveticaNeueW01-45Ligh';
        padding: 15px;
    }

    
    .form-input:focus,textarea:focus{
        outline:#E60073 auto 5px!important;
        caret-color: #E60073;   
    }
    .form-text-area{
        width: 100%;
        height: 150px;
        margin-top: -20px;
    }
    @media only screen and (max-width:551px){
        .form-text-area{
            height: 200px;
        }
    }
    .required-field-text{
        font-family: 'HelveticaNeueW01-45Ligh';
        font-size: 13px;
        line-height: 16px;
        color: #FFFFFF;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    /* CONFIRMATION PAGE */

    .confirmation-button{
        width: 212px;
        font-family: 'HelveticaNeueW01-75Bold';
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
        background-color: #E60073;
        display: block;
        text-align: center;
        border: 2px solid #E60073;
        padding: 13px;
        text-decoration: none;
        margin: 0;
        margin-top: 60px;
        margin-bottom: 30px;
    }
    @media only screen and (max-width:1200px){
        .confirmation-button{
            margin-top: 50px;
        }
    }
    .landing-page-anchor{
        height: 25.86px;
        width: 263.88px;
        color: #E60073;
        font-family: 'HelveticaNeueW01-75Bold';
        font-size: 17px;
        font-weight: bold;	
        line-height: 25px;
    }
    @media only screen and (max-width:551px){
        .landing-page-anchor{
            font-size: 15px;
        }
    }

        a.landing-page-anchor:hover{
        text-decoration: none !important;
        border-color: #BA005C!important;
        color: #BA005C;
    }
    

    .section-line{
        height: 1px;
        width: 100%;
        background-color: #FFFFFF;
        margin-top: 60px;
    }
    @media only screen and (max-width:1200px){
        .section-line{
            margin-top: 15px;
        }       
    }
    @media only screen and (max-width:1200px){
    .periscope-contacts h2{
        font-size: 36px!important;
        line-height: 40px!important;
    }
    }
    .periscope-contacts h3{
        font-family: 'HelveticaNeueW01-45Ligh';
        color: white;
        font-size: 27px;
        margin-bottom: 20px;
    }
    .periscope-contacts-info-block{
        margin-top: 20px;
    }
    .periscope-contacts-info-block p{
        color: #FC9318;	
        font-family: "HelveticaNeueW01-75Bold";
        font-size: 17px;	
        line-height: 25px;
        margin: 0;
    }
    .periscope-contacts-info-block a p:hover{
        color: #DD7C09;
    }


    @media only screen and (max-width:1200px){
        .confirmation-main-copy{
            font-size: 22px!important;
            line-height: 30px!important;
        }
    }   


    #leaders-carousel{margin-bottom:0;padding-bottom:117px;margin-top:75.5px;}
    @media only screen and (min-width:551px){
    #leaders-carousel{padding-bottom:104px;margin-top:59.7px;margin-bottom:1px;}
    }
    @media only screen and (min-width:1201px){
    #leaders-carousel{padding-bottom:199px;margin-top:75.8px;margin-bottom:-40px;}
    }
    @media only screen and (min-width:1951px){
    #leaders-carousel{padding-bottom:156px;margin-top:67.7px;margin-bottom:47px;}
    }
    @media only screen and (min-width:2701px){
    #leaders-carousel{padding-bottom:256px;margin-top:103.7px;margin-bottom:9px;}
    }
    #leaders-carousel .slick-track:hover{cursor:pointer;}
    #leaders-carousel .slick-prev,#leaders-carousel .slick-next{-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-webkit-transition:all 0.2s ease-out;transition:all 0.2s ease-out;bottom:20px;}
    @media only screen and (min-width:551px){
    #leaders-carousel .slick-prev,#leaders-carousel .slick-next{bottom:7px;}
    }
    @media only screen and (min-width:1201px){
    #leaders-carousel .slick-prev,#leaders-carousel .slick-next{bottom:89px;}
    }
    @media only screen and (min-width:1951px){
    #leaders-carousel .slick-prev,#leaders-carousel .slick-next{bottom:46px;}
    }
    @media only screen and (min-width:2701px){
    #leaders-carousel .slick-prev,#leaders-carousel .slick-next{bottom:133px;}
    }
    #leaders-carousel .slick-dots{position:absolute;bottom:59px;}
    @media only screen and (min-width:551px){
    #leaders-carousel .slick-dots{bottom:47px;}
    }
    @media only screen and (min-width:1201px){
    #leaders-carousel .slick-dots{bottom:130px;}
    }
    @media only screen and (min-width:1951px){
    #leaders-carousel .slick-dots{bottom:88px;}
    }
    @media only screen and (min-width:2701px){
    #leaders-carousel .slick-dots{bottom:168px;}
    }
    #leaders-carousel .slick-dots .slick-active button:before{opacity:1!important;}
    #leaders-carousel .slick-slide{padding:0;transition:transform 1s cubic-bezier(.39,.2,.25,1);}
    #leaders-carousel .leader{position:relative;display:flex;}
    #leaders-carousel .leader__photo{max-width:100%;width:auto;height:479px;}
    @media only screen and (min-width:551px){
    #leaders-carousel .leader__photo{height:662px;}
    }
    @media only screen and (min-width:1201px){
    #leaders-carousel .leader__photo{height:737px;}
    }
    @media only screen and (min-width:1951px){
    #leaders-carousel .leader__photo{height:742px;}
    }
    @media only screen and (min-width:2701px){
    #leaders-carousel .leader__photo{height:1123px;}
    }
    #leaders-carousel .leader__photo img{height:100%;}
    #leaders-carousel .leader__info{position:absolute;z-index:99;background:#fff;left:24px;bottom:13px;width:187px;padding:10px 15px;}
    #leaders-carousel .leader__info .close{display:none;}
    #leaders-carousel .leader__info:before{content:"";position:absolute;left:0;top:0;height:100%;width:0;-moz-transition:all 0.2s;-o-transition:all 0.2s;-webkit-transition:all 0.2s;transition:all 0.2s;z-index:-1;background:#E60073;}
    #leaders-carousel .leader__info__name{font-family:'HelveticaNeueW01-75Bold';font-size:17px;line-height:25px;color:#000;}
    @media only screen and (min-width:1951px){
    #leaders-carousel .leader__info__name{font-size:18px;line-height:25px;}
    }
    @media only screen and (min-width:2701px){
    #leaders-carousel .leader__info__name{font-size:20px;line-height:20px;}
    }
    #leaders-carousel .leader__info__title{font-family:'HelveticaNeueW01-75Bold';font-size:17px;line-height:25px;font-family:'HelveticaNeueW01-55Roma';color:#000;}
    @media only screen and (min-width:1951px){
    #leaders-carousel .leader__info__title{font-size:18px;line-height:25px;}
    }
    @media only screen and (min-width:2701px){
    #leaders-carousel .leader__info__title{font-size:20px;line-height:20px;}
    }
    #leaders-carousel .leader__info__button{font-family:'HelveticaNeueW01-75Bold';font-size:17px;line-height:25px;text-transform:uppercase;color:#E60073;text-decoration:none;}
    @media only screen and (min-width:1951px){
    #leaders-carousel .leader__info__button{font-size:18px;line-height:25px;}
    }
    @media only screen and (min-width:2701px){
    #leaders-carousel .leader__info__button{font-size:20px;line-height:20px;}
    }
    #leaders-carousel .leader__info__button:after{content:"";background:url(https://www.periscope.com/wp-content/themes/periscope/images/Shape.svg) no-repeat center;width:20px;height:8px;display:inline-block;position:relative;top:-2px;margin-left:8px;-moz-transition:all 0.2s;-o-transition:all 0.2s;-webkit-transition:all 0.2s;transition:all 0.2s;}
    #leaders-carousel .leader__info__button--back:after{-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg);margin-left:20px;}
    #leaders-carousel .leader:hover .leader__info:before{width:100%;}
    #leaders-carousel .leader:hover .leader__info__title,#leaders-carousel .leader:hover .leader__info__name,#leaders-carousel .leader:hover .leader__info__button{color:#fff;}
    #leaders-carousel .leader:hover .leader__info__button:after{background-image:url(https://www.periscope.com/wp-content/themes/periscope/images/Shape-white.svg);-moz-transform:translate(10px);-ms-transform:translate(10px);-webkit-transform:translate(10px);transform:translate(10px);}
    #leaders-carousel .leader:hover .leader__info__button--back:after{-moz-transform:rotate(180deg) translate(10px);-ms-transform:rotate(180deg) translate(10px);-webkit-transform:rotate(180deg) translate(10px);transform:rotate(180deg) translate(10px);}
    #leaders-carousel .leader__description{padding:46px 15px 0 15px;position:relative;display:none;}
    @media only screen and (min-width:1201px){
    #leaders-carousel .leader__description{padding:64px 63px 37px 37px;}
    }
    @media only screen and (min-width:1951px){
    #leaders-carousel .leader__description{padding:30px 63px 30px 120px;}
    }
    #leaders-carousel .leader__description__name{font-size:22px;line-height:30px;padding-bottom:6px;font-family:'HelveticaNeueW01-75Bold';}
    @media only screen and (min-width:1201px){
    #leaders-carousel .leader__description__name{font-size:27px;line-height:35px;}
    }
    @media only screen and (min-width:1951px){
    #leaders-carousel .leader__description__name{font-size:32px;line-height:42px;}
    }
    @media only screen and (min-width:2701px){
    #leaders-carousel .leader__description__name{font-size:40px;line-height:50px;}
    }
    #leaders-carousel .leader__description__name:before{content:"";width:80px;height:6px;background:#fc9318;display:block;margin-bottom:15px;}
    #leaders-carousel .leader__description .close-icon{width:40px;height:40px;display:block;position:absolute;right:20px;top:0;display:none;cursor:pointer;z-index:99;}
    @media only screen and (min-width:551px){
    #leaders-carousel .leader__description .close-icon{display:block;}
    }
    #leaders-carousel .leader__description .close-icon:before,#leaders-carousel .leader__description .close-icon:after{content:"";background:#E60073;height:4px;width:30px;position:absolute;top:19px;left:4px;}
    #leaders-carousel .leader__description .close-icon:before{-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);}
    #leaders-carousel .leader__description .close-icon:after{-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
    #leaders-carousel .leader__description__title{font-size:18px;line-height:24px;padding-bottom:28px;}
    @media only screen and (min-width:1951px){
    #leaders-carousel .leader__description__title{font-size:22px;line-height:32px;}
    }
    @media only screen and (min-width:2701px){
    #leaders-carousel .leader__description__title{font-size:30px;line-height:40px;}
    }
    #leaders-carousel .leader__description__description{font-size:18px;line-height:24px;}
    @media only screen and (min-width:1951px){
    #leaders-carousel .leader__description__description{font-size:22px;line-height:32px;}
    }
    @media only screen and (min-width:2701px){
    #leaders-carousel .leader__description__description{font-size:30px;line-height:40px;}
    }
    #leaders-carousel .leader__description__button{font-family:'HelveticaNeueW01-75Bold';font-size:17px;line-height:25px;text-transform:uppercase;color:#E60073;text-decoration:none;width:100%;display:block;text-align:center;margin-top:27px;}
    @media only screen and (min-width:1951px){
    #leaders-carousel .leader__description__button{font-size:18px;line-height:25px;}
    }
    @media only screen and (min-width:2701px){
    #leaders-carousel .leader__description__button{font-size:20px;line-height:20px;}
    }
    @media only screen and (min-width:551px){
    #leaders-carousel .leader__description__button{display:none;}
    }
    .footer{width:100%;background:transparent;text-align:center;color:white; margin-top: 60px; margin-bottom: 60px;}

    @media only screen and (min-width:1201px){
        .footer{width:100%;text-align:center;color:white; margin-top: 120px; margin-bottom: 60px;}
    }

    .footer .logo{margin-bottom:13px;font-family:"HelveticaNeueW01-75Bold";}
    .footer .logo span{font-size:27px;line-height:33px;}
    @media only screen and (min-width:1201px){
    .footer .logo span{font-size:22px;line-height:32px;}
    }
    @media only screen and (min-width:2701px){
    .footer .logo span{font-size:30px;line-height:40px;}
    }
    .footer .footer-info{padding:0px 0;}
    @media only screen and (min-width:551px){
    .footer .footer-info{padding:0;}
    }
    .footer .footer-info>div{padding:0;margin:0 15px;}
    @media only screen and (min-width:1201px){
    .footer .footer-info>div{max-width:calc(41.666667% - 18px);}
    .footer .footer-info>div:first-child{text-align:left;}
    .footer .footer-info>div:last-child{display:flex;justify-content:flex-end;}
    }
    .footer .footer-info .copy{display:none;}
    @media only screen and (min-width:1201px){
    .footer .footer-info .copy{width:80%;display:block;font-family:'HelveticaNeueW01-75Bold';font-size:15px;line-height:20px;font-family:"HelveticaNeueW01-55Roma";}
    }
    @media only screen and (min-width:1201px) and (min-width:1201px){
    .footer .footer-info .copy{font-size:15px;line-height:20px;}
    }
    @media only screen and (min-width:1201px) and (min-width:1951px){
    .footer .footer-info .copy{font-size:16px;line-height:22px;}
    }
    @media only screen and (min-width:1201px) and (min-width:2701px){
    .footer .footer-info .copy{font-size:18px;line-height:26px;}
    }
    .footer .footer-links{margin-top:20px;font-family:"HelveticaNeueW01-75Bold";padding:0;}
    .footer .footer-links li{display:inline-block;padding-left:18px;}
    .footer .footer-links a{color:white;text-decoration:none;}
    .footer .footer-links a:hover{opacity:.63;}
    .footer .footer-links img:hover{opacity:.63;}
    .footer .footer-links--first li{padding:0 10px;}
    .footer .footer-nav{height:148px;width:100%;border-top:2px solid white;position:relative;overflow:hidden;padding:0;}
    .footer .footer-nav:hover .footer-nav-title.is-pink{background:rgba(186,0,92,.85);}
    .footer .footer-nav:hover .footer-nav-title.is-orange{background:rgba(221,124,9,.85);}
    @media only screen and (min-width:551px){
    .footer .footer-nav{border:none;top:-43px;position:relative;margin:0 15px;max-width:calc(41.666667% - 18px);}
    }
    @media only screen and (min-width:551px){
    .footer .footer-nav{height:141px;}
    }
    @media only screen and (min-width:1201px){
    .footer .footer-nav{height:298px;}
    }
    @media only screen and (min-width:1951px){
    .footer .footer-nav{height:359px;}
    }
    @media only screen and (min-width:2701px){
    .footer .footer-nav{height:412px;}
    }
    .footer .footer-nav img{width:100%;}
    @media only screen and (min-width:551px){
    .footer .footer-nav img{height:100%;width:auto;text-align:left;min-width:100%;}
    }
    .footer .footer-nav .footer-nav-title{min-width:43.3%;height:36%;position:absolute;top:50%;transform:translateY(-50%);color:white;display:flex;justify-content:center;align-items:center;text-decoration:none;}
    .footer .footer-nav .footer-nav-title h3{font-size:22px;line-height:30px;padding:0 10px;font-family:'HelveticaNeueW01-75Bold';}
    @media only screen and (min-width:1201px){
    .footer .footer-nav .footer-nav-title h3{font-size:27px;line-height:35px;}
    }
    @media only screen and (min-width:1951px){
    .footer .footer-nav .footer-nav-title h3{font-size:32px;line-height:42px;}
    }
    @media only screen and (min-width:2701px){
    .footer .footer-nav .footer-nav-title h3{font-size:40px;line-height:50px;}
    }
    .footer .footer-nav .footer-nav-title.is-pink{background:rgba(230,0,115,.85);}
    .footer .footer-nav .footer-nav-title.is-orange{background:rgba(252,147,24,.85);}
    .slick-dots{position:absolute;bottom:-72px;right:0;}
    @media only screen and (min-width:1201px){
    .slick-dots{bottom:-90px;}
    }
    @media only screen and (min-width:2701px){
    .slick-dots{bottom:-120px;}
    }
    .slick-dots li{margin:0 5px!important;}
    @media only screen and (min-width:1951px){
    .slick-dots li{margin:0 12px;}
    }
    @media only screen and (min-width:2701px){
    .slick-dots li{width:28px;height:28px;margin:0 25px;}
    }
    .slick-dots button:before{font-size:12px!important;line-height:24px!important;opacity:0.5!important;background:#22282C;border-radius:50%;color:transparent!important;border:3px solid #f2f2f2;width:14px!important;height:14px!important;top:4px;left:4px;}
    @media only screen and (min-width:1951px){
    .slick-dots button:before{width:16px!important;height:16px!important;}
    }
    @media only screen and (min-width:2701px){
    .slick-dots button:before{width:28px!important;height:28px!important;}
    }
    .slick-dots .slick-active button:before{background:transparent;border-radius:50%;border-color:#22282C;opacity:1!important;}
    @media only screen and (min-width:2701px){
    .slick-dots .slick-active button:before{width:28px;border-width:6px;height:28px;top:0;left:0;}
    }
    .slick-prev{width:50px;height:50px;left:calc(50% - 135px);top:auto;bottom:-111px;z-index:2;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-webkit-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
    @media only screen and (min-width:1201px){
    .slick-prev{bottom:-130px;}
    }
    @media only screen and (min-width:2701px){
    .slick-prev{bottom:-153px;}
    }
    .slick-prev:before{content:"";color:#22282C;border-style:solid;border-width:0 3px 3px 0;padding:5.5px;transform:rotate(135deg);-webkit-transform:rotate(135deg);position:absolute;top:15px;right:20px;opacity:1;}
    @media only screen and (min-width:2701px){
    .slick-prev:before{border-width:0 5px 5px 0;padding:8.5px;}
    }
    .slick-next{width:50px;height:50px;top:auto;bottom:-111px;z-index:2;right:calc(50% - 135px);-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-webkit-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
    @media only screen and (min-width:1201px){
    .slick-next{bottom:-130px;}
    }
    @media only screen and (min-width:2701px){
    .slick-next{bottom:-153px;}
    }
    .slick-next:before{content:"";color:#22282C;border-style:solid;border-width:0 3px 3px 0;padding:5.5px;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);position:absolute;top:15px;left:15px;opacity:1;}
    @media only screen and (min-width:2701px){
    .slick-next:before{border-width:0 5px 5px 0;padding:8.5px;}
    }
    .slick-prev.slick-disabled:before{opacity:1!important;}
    .slick-prev:hover{-moz-transform:translate(-10px,-25px);-ms-transform:translate(-10px,-25px);-webkit-transform:translate(-10px,-25px);transform:translate(-10px,-25px);}
    .slick-next:hover{-moz-transform:translate(10px,-25px);-ms-transform:translate(10px,-25px);-webkit-transform:translate(10px,-25px);transform:translate(10px,-25px);}
    .video__wrapper{position:relative;overflow:hidden;padding-bottom:56.25%;}
    .video__wrapper iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
    body,div,span,iframe,h1,h2,h3,h5,p,a,img,li,footer,header,section{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
    footer,header,section{display:block;}
    body{line-height:1;}
    body{height:100%;}
    .body{background-color:#FFFFFF;overflow-x:hidden;}
    
    /*! CSS Used fontfaces */
    @font-face{font-family:slick;font-weight:400;font-style:normal;src:url(https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/fonts/slick.eot);src:url(https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/fonts/slick.eot#iefix) format('embedded-opentype'),url(https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/fonts/slick.woff) format('woff'),url(https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/fonts/slick.ttf) format('truetype'),url(https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/fonts/slick.svg#slick) format('svg');}
    @font-face{font-family:"HelveticaNeueW01-75Bold";src:url("https://fast.fonts.net/dv2/2/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?d44f19a684109620e484157ba290e81826645d7216deed3d20cfe08df53b116eecdcf8f4ed56da42430d69ea8a3bd8c35c917c341967c55494e59d4d895b840b49719dc5ef0399eec8f722ca0d7f80c90f9732ac8ee7daa11708896aacbcf1dc20a3dfe7a0befac50c46ec40bf45703dd1ae3e162b809fb3f69e785be2&projectId=33048f69-7a0c-4693-addd-1f2944606088#iefix");src:url("https://fast.fonts.net/dv2/2/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?d44f19a684109620e484157ba290e81826645d7216deed3d20cfe08df53b116eecdcf8f4ed56da42430d69ea8a3bd8c35c917c341967c55494e59d4d895b840b49719dc5ef0399eec8f722ca0d7f80c90f9732ac8ee7daa11708896aacbcf1dc20a3dfe7a0befac50c46ec40bf45703dd1ae3e162b809fb3f69e785be2&projectId=33048f69-7a0c-4693-addd-1f2944606088#iefix") format("eot"),url("https://fast.fonts.net/dv2/14/3b303641-706e-4221-94c4-4fb491f4f8ef.woff2?d44f19a684109620e484157ba290e81826645d7216deed3d20cfe08df53b116eecdcf8f4ed56da42430d69ea8a3bd8c35c917c341967c55494e59d4d895b840b49719dc5ef0399eec8f722ca0d7f80c90f9732ac8ee7daa11708896aacbcf1dc20a3dfe7a0befac50c46ec40bf45703dd1ae3e162b809fb3f69e785be2&projectId=33048f69-7a0c-4693-addd-1f2944606088") format("woff2"),url("https://fast.fonts.net/dv2/3/14ff6081-326d-4dae-b778-d7afa66166fc.woff?d44f19a684109620e484157ba290e81826645d7216deed3d20cfe08df53b116eecdcf8f4ed56da42430d69ea8a3bd8c35c917c341967c55494e59d4d895b840b49719dc5ef0399eec8f722ca0d7f80c90f9732ac8ee7daa11708896aacbcf1dc20a3dfe7a0befac50c46ec40bf45703dd1ae3e162b809fb3f69e785be2&projectId=33048f69-7a0c-4693-addd-1f2944606088") format("woff"),url("https://fast.fonts.net/dv2/1/8fda1e47-19be-46c7-8d83-8d4fb35572f0.ttf?d44f19a684109620e484157ba290e81826645d7216deed3d20cfe08df53b116eecdcf8f4ed56da42430d69ea8a3bd8c35c917c341967c55494e59d4d895b840b49719dc5ef0399eec8f722ca0d7f80c90f9732ac8ee7daa11708896aacbcf1dc20a3dfe7a0befac50c46ec40bf45703dd1ae3e162b809fb3f69e785be2&projectId=33048f69-7a0c-4693-addd-1f2944606088") format("truetype"),url("https://fast.fonts.net/dv2/11/f751c8ae-1057-46d9-8d74-62592e002568.svg?d44f19a684109620e484157ba290e81826645d7216deed3d20cfe08df53b116eecdcf8f4ed56da42430d69ea8a3bd8c35c917c341967c55494e59d4d895b840b49719dc5ef0399eec8f722ca0d7f80c90f9732ac8ee7daa11708896aacbcf1dc20a3dfe7a0befac50c46ec40bf45703dd1ae3e162b809fb3f69e785be2&projectId=33048f69-7a0c-4693-addd-1f2944606088#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");}
    @font-face{font-family:"HelveticaNeueW01-55Roma";src:url("https://fast.fonts.net/dv2/2/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?d44f19a684109620e484157ba290e81826645d7216deed3d20cfe08df53b116eecdcf8f4ed56da42430d69ea8a3bd8c35c917c341967c55494e59d4d895b840b49719dc5ef0399eec8f722ca0d7f80c90f9732ac8ee7daa11708896aacbcf1dc20a3dfe7a0befac50c46ec40bf45703dd1ae3e162b809fb3f69e785be2&projectId=33048f69-7a0c-4693-addd-1f2944606088#iefix");src:url("https://fast.fonts.net/dv2/2/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?d44f19a684109620e484157ba290e81826645d7216deed3d20cfe08df53b116eecdcf8f4ed56da42430d69ea8a3bd8c35c917c341967c55494e59d4d895b840b49719dc5ef0399eec8f722ca0d7f80c90f9732ac8ee7daa11708896aacbcf1dc20a3dfe7a0befac50c46ec40bf45703dd1ae3e162b809fb3f69e785be2&projectId=33048f69-7a0c-4693-addd-1f2944606088#iefix") format("eot"),url("https://fast.fonts.net/dv2/14/b0868b4c-234e-47d3-bc59-41ab9de3c0db.woff2?d44f19a684109620e484157ba290e81826645d7216deed3d20cfe08df53b116eecdcf8f4ed56da42430d69ea8a3bd8c35c917c341967c55494e59d4d895b840b49719dc5ef0399eec8f722ca0d7f80c90f9732ac8ee7daa11708896aacbcf1dc20a3dfe7a0befac50c46ec40bf45703dd1ae3e162b809fb3f69e785be2&projectId=33048f69-7a0c-4693-addd-1f2944606088") format("woff2"),url("https://fast.fonts.net/dv2/3/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff?d44f19a684109620e484157ba290e81826645d7216deed3d20cfe08df53b116eecdcf8f4ed56da42430d69ea8a3bd8c35c917c341967c55494e59d4d895b840b49719dc5ef0399eec8f722ca0d7f80c90f9732ac8ee7daa11708896aacbcf1dc20a3dfe7a0befac50c46ec40bf45703dd1ae3e162b809fb3f69e785be2&projectId=33048f69-7a0c-4693-addd-1f2944606088") format("woff"),url("https://fast.fonts.net/dv2/1/b0ffdcf0-26da-47fd-8485-20e4a40d4b7d.ttf?d44f19a684109620e484157ba290e81826645d7216deed3d20cfe08df53b116eecdcf8f4ed56da42430d69ea8a3bd8c35c917c341967c55494e59d4d895b840b49719dc5ef0399eec8f722ca0d7f80c90f9732ac8ee7daa11708896aacbcf1dc20a3dfe7a0befac50c46ec40bf45703dd1ae3e162b809fb3f69e785be2&projectId=33048f69-7a0c-4693-addd-1f2944606088") format("truetype"),url("https://fast.fonts.net/dv2/11/da09f1f1-062a-45af-86e1-2bbdb3dd94f9.svg?d44f19a684109620e484157ba290e81826645d7216deed3d20cfe08df53b116eecdcf8f4ed56da42430d69ea8a3bd8c35c917c341967c55494e59d4d895b840b49719dc5ef0399eec8f722ca0d7f80c90f9732ac8ee7daa11708896aacbcf1dc20a3dfe7a0befac50c46ec40bf45703dd1ae3e162b809fb3f69e785be2&projectId=33048f69-7a0c-4693-addd-1f2944606088#da09f1f1-062a-45af-86e1-2bbdb3dd94f9") format("svg");}
    @font-face{font-family:"HelveticaNeueW01-45Ligh";src:url("https://fast.fonts.net/dv2/2/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?d44f19a684109620e484157ba290e81826645d7216deed3d20cfe08df53b116eecdcf8f4ed56da42430d69ea8a3bd8c35c917c341967c55494e59d4d895b840b49719dc5ef0399eec8f722ca0d7f80c90f9732ac8ee7daa11708896aacbcf1dc20a3dfe7a0befac50c46ec40bf45703dd1ae3e162b809fb3f69e785be2&projectId=33048f69-7a0c-4693-addd-1f2944606088#iefix");src:url("https://fast.fonts.net/dv2/2/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?d44f19a684109620e484157ba290e81826645d7216deed3d20cfe08df53b116eecdcf8f4ed56da42430d69ea8a3bd8c35c917c341967c55494e59d4d895b840b49719dc5ef0399eec8f722ca0d7f80c90f9732ac8ee7daa11708896aacbcf1dc20a3dfe7a0befac50c46ec40bf45703dd1ae3e162b809fb3f69e785be2&projectId=33048f69-7a0c-4693-addd-1f2944606088#iefix") format("eot"),url("https://fast.fonts.net/dv2/14/5a13f7d1-b615-418e-bc3a-525001b9a671.woff2?d44f19a684109620e484157ba290e81826645d7216deed3d20cfe08df53b116eecdcf8f4ed56da42430d69ea8a3bd8c35c917c341967c55494e59d4d895b840b49719dc5ef0399eec8f722ca0d7f80c90f9732ac8ee7daa11708896aacbcf1dc20a3dfe7a0befac50c46ec40bf45703dd1ae3e162b809fb3f69e785be2&projectId=33048f69-7a0c-4693-addd-1f2944606088") format("woff2"),url("https://fast.fonts.net/dv2/3/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff?d44f19a684109620e484157ba290e81826645d7216deed3d20cfe08df53b116eecdcf8f4ed56da42430d69ea8a3bd8c35c917c341967c55494e59d4d895b840b49719dc5ef0399eec8f722ca0d7f80c90f9732ac8ee7daa11708896aacbcf1dc20a3dfe7a0befac50c46ec40bf45703dd1ae3e162b809fb3f69e785be2&projectId=33048f69-7a0c-4693-addd-1f2944606088") format("woff"),url("https://fast.fonts.net/dv2/1/688ab72b-4deb-4e15-a088-89166978d469.ttf?d44f19a684109620e484157ba290e81826645d7216deed3d20cfe08df53b116eecdcf8f4ed56da42430d69ea8a3bd8c35c917c341967c55494e59d4d895b840b49719dc5ef0399eec8f722ca0d7f80c90f9732ac8ee7daa11708896aacbcf1dc20a3dfe7a0befac50c46ec40bf45703dd1ae3e162b809fb3f69e785be2&projectId=33048f69-7a0c-4693-addd-1f2944606088") format("truetype"),url("https://fast.fonts.net/dv2/11/7816f72f-f47e-4715-8cd7-960e3723846a.svg?d44f19a684109620e484157ba290e81826645d7216deed3d20cfe08df53b116eecdcf8f4ed56da42430d69ea8a3bd8c35c917c341967c55494e59d4d895b840b49719dc5ef0399eec8f722ca0d7f80c90f9732ac8ee7daa11708896aacbcf1dc20a3dfe7a0befac50c46ec40bf45703dd1ae3e162b809fb3f69e785be2&projectId=33048f69-7a0c-4693-addd-1f2944606088#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");}